@import '../imports/imports.css';

.NavbarItems{
    background: #222222; /*linear-gradient(0deg, black, #444444);*/
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
}

.navbar-logo{
    width: 300px;
    height: 100%;
    margin-left: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.logo {
    width: 60px;
    height: auto;
    margin-right: 10px;
    /*transform: translate(-10%, 32%);*/
}

.logo-name{
    color: #ffffff;
    width: 100%;
    height: 100%;
    text-align: center;
    font-family: "Bebas Neue";
}

.logo-name-center{
    display: flex;
    justify-content: center;
    align-items:center;
}


.fa-react{
    margin-left: 0.5rem;
    font-size: 1.6rem;
}

.nav-menu{
    display:flex;
    justify-content: flex-end;
    list-style: none;
    width: 100%;
    margin-right: 1rem;
}

.nav-links{
    font-size: 20px;
    color: white;
    font-family: 'Poppins';
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.nav-links:hover{
    background-color: #888888;
    border-radius: 4px;
    transition: all 0.2s ease-out;
}

.fa-bars{
    color: #ffffff;
}

.menu-icon{
    display: none;
}


@media screen and (max-width: 960px){
    .NavbarItems{
        position: relative;
    }

    .nav-menu{
        display:flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        position: absolute;
        top: 100px;
        left: 100%;
        opacity: 1;
        transition: all 0.5s ease;
    }

    .nav-menu.active{
        background: rgba(73,63,252,1);
        left: 0;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 1;
    }

    .nav-links{
        text-align: center;
        padding: 2rem;
        width:100%;
        display: table;
    }

    .nav-links:hover{
        background-color: #7577fa;
        border-radius: 0;
    }

    .navbar-logo{
        position: absolute;
        top: 0;
        left: 0;
        margin-left: 30px;
        width: auto;
        /*transform: translate(25%, 50%);*/  
    }

    .menu-icon{
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(-100%, 45%);
        font-size: 1.8rem;
        cursor: pointer;
    }

}